body{
    font-family: "Roboto",sans-serif;
    background-color: #328f8a;
    background-image: linear-gradient(45deg, #328f8a, #08ac4b);
}

.register_page{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
}
.register1{
   position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.register_page,.register1,.login{
      margin-top: -31px;
      margin-bottom: 26px;
}
form{
      display: block;
}
input{
    font-family: "Roboto",sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
 button{
      font-family: "Roboto",sans-serif;
      outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg, #328f8a, #08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.parent{
      display: flex;
      box-sizing: border-box;
      top: 0;
  }
  .first{
      background-color: rgb(60, 124, 197);
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      height: 6vh;
      width: 100vw;
      gap: 30px;
      align-items: center;
      position: fixed;
      font-size: 20px;
  }
  a{
      text-decoration: none;
      color: white;
      font-weight: lighter;
  }